* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

.login {
  &-container {
    width: 100%;
    height: 100%;
    display: flex;
  }
  &-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: stretch;
  }
  &-more {
    flex-basis: 70%;
  }

  &-form {
    flex-basis: 30%;
    background-color: #f7f7f7;
  }
}
